@font-face {
    font-family: GothamMedium;
    src: url(/assets/fonts/GothamSSm-Medium_Web.woff2);
}

@font-face {
    font-family: GothamSSm;
    src: url(/assets/fonts/GothamSSm-Book_Web.woff2);
}

@font-face {
    font-family: GothamBold;
    src: url(/assets/fonts/GothamSSm-Bold_Web.woff2);
}

@font-face {
    font-family: GothamLight;
    src: url(/assets/fonts/GothamSSm-Light_Web.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge add Firefox */
html {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

/* ---------- all screens styles ---------- */

.clr {
    clear: both;
}

ul {
    list-style-type: none;
}

/* logo */
.logo-cont {
    padding-left: 48px;
    padding-top: 12px;
    position: fixed;
    z-index: 1000;
}

.logo-cont:hover {
    cursor: pointer;
}

.logo-svg {
    width: 120px;
    height: 30px;
    fill: white;
}

/* sidebar */
.sidebar-select-scr {
    position: fixed;
    top: 50%;
    transform: translate(0, -47%);
    z-index: 1000;
}

.sidebar-select-scr li {
    width: 24px;
    height: 24px;
    line-height: 21px;
    margin-top: 5px;
    text-align: right;
    color: white;
    font-size: 10px;
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
}

.sidebar-select-scr span {
    display: inline-block;
    width: 1px;
    height: 24px;
    background: #a9a6ad;
    opacity: 0.5;
    position: relative;
}

.sidebar-select-scr li:hover::after {
    white-space: pre;
    position: absolute;
    transition: ease 1s;
}

.sidebar-select-scr1:hover::after {
    content: "   MODEL 3";
}

.sidebar-select-scr2:hover::after {
    content: "   SAFETY";
}

.sidebar-select-scr3:hover::after {
    content: "   PERFORMANCE";
}

.sidebar-select-scr4:hover::after {
    content: "   ALL-WHEEL DRIVE";
}

.sidebar-select-scr5:hover::after {
    content: "   RANGE";
}

.sidebar-select-scr6:hover::after {
    content: "   AUTOPILOT";
}

.sidebar-select-scr7:hover::after {
    content: "   INTERIOR";
}

.sidebar-select-scr8:hover::after {
    content: "   SPECS";
}

.sidebar-select-scr9:hover::after {
    content: "   ORDER";
}

/* chat button */
.chat-btn {
    border-radius: 50% 50%;
    position: fixed;
    right: 40px;
    bottom: 80px;
    border: none;
    z-index: 1000
}

.chat-btn:hover {
    cursor: pointer;
}

.chat-btn svg {
    width: 52px;
    height: 52px;
}

.up-scr-btn {
    position: fixed;
    right: 0;
    background: transparent;
    border: none;
    z-index: 1000;
    padding-right: 24px;
}

.up-scr-btn {
    cursor: pointer;
}

/* ---------- screen 1 ---------- */

/* header */
.scr1.cont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.scr1.background {
    width: 100vw;
    height: 120vh;
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 5vh right 0;
}

/* header navbars */
.scr1.top-navbar-cont {
    position: fixed;
    width: 100vw;
}

.scr1.top-navbar-cont li {
    display: inline;
}

.scr1.top-navbar-cont a {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 14px;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    border-radius: 12px 12px;
    line-height: 21px;
    transition: ease 0.5s;
}

.scr1.top-navbar-cont a:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: ease 0.5s;
}

.scr1.model-nav {
    width: 700px;
    position: absolute;
    left: 53%;
    transform: translate(-50%, 18px);
}

.scr1.main-nav {
    position: absolute;
    right: 35px;
    top: 18px;
}

/* main */
.scr1.title {
    color: white;
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    position: absolute;
    top: 18%;
    left: 50%;
    font-weight: normal;
    transform: translate(-50%, -50%);
}

/* footer */
.scr1.footer {
    position: absolute;
    height: 116px;
    width: 100vw;
    bottom: -4vh;
    left: 51%;
    transform: translate(-50%, -50%);
}

.scr1.bottom-navbar-cont {
    position: relative;
}

.scr1.navbar-footer {
    position: absolute;
    left: 50vw;
    top: 25px;
    transform: translate(-50%, -50%);
}

.scr1.navbar-footer > ul > li {
    display: inline-block;
    padding: 0 15px;
}

.scr1.first-item-footer-navbar li {
    display: inline-block;
}

.scr1.footer-top-text {
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.scr1.footer-bottom-text {
    font-size: 12px;
    color: white;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    width: 120px;
    height: 18px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.scr1.mph-logo {
    width: 40px;
    height: 20px;
}

.scr1.speedometer-arc svg {
    position: absolute;
    fill: white;
    width: 43px;
    top: 5px;
    left: 16px;
}

.scr1.speedometer-back svg {
    position: absolute;
    fill: #777D87;
    width: 30px;
    top: 13px;
    left: 22.5px;
    opacity: 0.6;
}

.scr1.speedometer-hand svg {
    position: absolute;
    fill: white;
    transform: rotate(90deg);
    width: 5px;
    left: 43px;
    top: 17px;
}

.scr1.order-cont {
    padding: 0 !important;
}

.scr1.order-btn {
    position: relative;
    width: 180px;
    height: 54px;
    transition: ease 0.3s;
}

.scr1.order-btn span {
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
    color: rgb(226, 228, 228);
    text-decoration: none;
    font-size: 12px;
    line-height: 34px;
    border: 3px white solid;
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
    padding: 0 35px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    transition: ease 0.5s;
}

.scr1.order-btn:hover span {
    background: white;
    color: black;
    transition: ease 0.5s;
    cursor: pointer;
}

.scr1.arrow-down {
    position: absolute;
    width: 70px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.scr1.arrow-down:hover {
    cursor: pointer;
}


/* ---------- screen 2 ---------- */

.scr2.cont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* sidebar */
.scr2.sidebar {
    width: 415px;
    height: 100vh;
    float: left;
}

.scr2.sidebar-wrapper {
    width: 315px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.scr2.sidebar-header {
    margin-top: 54px;
    padding-bottom: 16px;
}

.scr2.sidebar-header h2 {
    font-family: GothamLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
}

.scr2.sidebar-header h1 {
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
}

.scr2.safety-content {
    padding-bottom: 16px;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.scr2.rating-box-cont {
    width: 315px;
    height: 297px;
    background: #E2E4E4;
    border-radius: 30px;
    padding: 24px 24px;
}

.scr2.rating-box {
    width: 267px;
    height: 249px;
}

.scr2.rating-box-content h3 {
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 16px;
}

.scr2.rating-box-text {
    font-family: GothamBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    float: left;
}

.scr2.rating-box-starts {
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    float: right;
}

.scr2.rating-box-text.frontal::after {
    content: "\A Frontal";
    white-space: pre;
    font-size: 8px;
    font-family: GothamSSm;
}

.scr2.rating-box-text.side::after {
    content: "\A Side";
    white-space: pre;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 8px;
}

.scr2.sidebar-btns {
    width: 315px;
    height: 40px;
    position: absolute;
    bottom: 100px;
}

.scr2.sidebar-btn1 {
    border-radius: 50% 50%;
    background: white;
    border: 3px solid black;
    float: left;
}

.scr2.sidebar-btn1:hover {
    border: 3px solid white;
    filter: invert(100%);
    cursor: pointer;
}

.scr2.sidebar-btn1-lbl {
    position: absolute;
    top: 10px;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    top: 12px;
    left: 45px;
}

.scr2.sidebar-btn1-lbl:hover {
    cursor: pointer;
}

.scr2.sidebar-btn2 {
    float: right;
    width: 138px;
    height: 40px;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 34px;
    border: 3px black solid;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    padding: 0 15px;
    margin-right: 30px;
    transition: ease 0.5s;
}

.scr2.sidebar-btn2:hover {
    background: black;
    color: white;
    transition: ease 0.5s;
    cursor: pointer;
}

/* car view */
.scr2.car-view {
    overflow: hidden;
}

.scr2.car-view img {
    width: calc(100vw - 415px);
    height: 100vh;
    margin-left: -200px;
    z-index: -1;
}


/* ---------- screen 3 ---------- */

.scr3.cont {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* car view */
.scr3.car-view {
    width: 100vw;
    height: 75vh;
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.scr3.car-view-content-cont {
    position: absolute;
    width: 100vw;
    bottom: 115px;
}

.scr3.car-view-content {
    position: absolute;
    left: 50%;
    width: 1050px;
    transform: translate(-48%, -50%);
}


.scr3.car-view-content > ul > li {
    display: inline-block;
    padding: 0 15px;
}

.scr3.first-item-car-view li {
    display: inline-block;
}

.scr3.car-view-top-text {
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-left: 95px;
}

.scr3.car-view-bottom-text {
    font-size: 12px;
    color: white;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.scr3.mph-logo {
    width: 40px;
    height: 20px;
}

.scr3.speedometer-arc svg {
    position: absolute;
    fill: white;
    width: 43px;
    top: 5px;
    left: 111px;
}

.scr3.speedometer-back svg {
    position: absolute;
    fill: #777D87;
    width: 30px;
    top: 13px;
    left: 117.5px;
    opacity: 0.6;
}

.scr3.speedometer-hand svg {
    position: absolute;
    fill: white;
    transform: rotate(90deg);
    width: 5px;
    left: 138px;
    top: 17px;
}

/* footer */
.scr3.footer-cont {
    position: relative;
    width: 100vw;
    height: 25vh;
}

.scr3.footer {
    position: absolute;
    left: 50vw;
    top: 40px;
    transform: translate(-50%, 0);
    float: left;
}

.scr3.footer-interactive {
    float: left;
    width: 351px;
    height: 217px;
    margin-right: 10px;
}

.scr3.footer-interactive h2 {
    font-family: GothamLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
}

.scr3.footer-interactive h1 {
    font-family: GothamMedium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: normal;
}

.scr3.footer-btns {
    width: 315px;
    height: 40px;
    position: relative;
}

.scr3.footer-btn1 {
    border-radius: 50% 50%;
    background: white;
    border: 3px solid black;
    float: left;
}

.scr2.sidebar-btn1 {
    border-radius: 50% 50%;
    background: white;
    border: 3px solid black;
    float: left;
}

.scr3.footer-btn1:hover {
    border: 3px solid white;
    filter: invert(100%);
    cursor: pointer;
}

.scr3.footer-btn1-lbl {
    position: absolute;
    top: 10px;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    top: 12px;
    left: 45px;
}

.scr3.footer-btn1-lbl:hover {
    cursor: pointer;
}

.scr3.footer-btn2 {
    float: right;
    width: 138px;
    height: 40px;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    font-size: 12px;
    line-height: 34px;
    border: 3px black solid;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    padding: 0 15px;
    margin-right: 30px;
}

.scr3.footer-btn2:hover {
    background: black;
    color: white;
    transition: ease 0.5s;
    cursor: pointer;
}

.scr3.footer-content {
    float: right;
    width: 624px;
    height: 121px;
    line-height: 22px;
}

.scr3.footer-content p {
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}