@font-face {
    font-family: GothamMedium;
    src: url(/assets/fonts/GothamSSm-Medium_Web.woff2);
}

@font-face {
    font-family: GothamSSm;
    src: url(/assets/fonts/GothamSSm-Book_Web.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge add Firefox */
html {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

/* ---------- all screens styles ---------- */

/* logo */
.logo-cont {
    padding-left: 48px;
    padding-top: 12px;
    position: fixed;
}

.logo-svg {
    width: 120px;
    height: 30px;
    fill: white;
}

/* sidebar */
.aside-bar {
    position: fixed;
    top: 50%;
    transform: translate(13px, -47%);
}

.aside-bar ul {
    list-style-type: none;
}

.aside-bar a {
    display: inline-block;
    width: 1.5px;
    height: 24px;
    background: #a9a6ad;
    opacity: 0.5;
    margin: 1px 0;
}

.aside-bar ul li:first-child a {
    width: 3px;
    background: white;
    opacity: 1;
}


/* ---------- screen 1 ---------- */

/* header */
.scr1.cont {
    width: 100vw;
    height: 100vh;
}

.scr1.background {
    width: 100vw;
    height: 120vh;
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 5vh right 0;
}

/* header navbars */
.scr1.top-navbar-cont {
    position: fixed;
    width: 100vw;
}

.scr1.top-navbar-cont li {
    display: inline;
}

.scr1.top-navbar-cont a {
    color: white;
    text-decoration: none;
    padding: 0 13px;
    font-size: 14px;
    font-family: GothamSSm;
    font-weight: bold;
}

.scr1.model-nav {
    width: 700px;
    position: absolute;
    left: 53%;
    transform: translate(-50%, 18px);
}

.scr1.main-nav {
    position: absolute;
    right: 35px;
    top: 18px;
}

/* main */
.scr1.title {
    color: white;
    font-family: GothamMedium;
    font-size: 40px;
    position: absolute;
    top: 18%;
    left: 50%;
    font-weight: normal;
    transform: translate(-50%, -50%);
}

/* footer */
.scr1.footer {
    position: absolute;
    height: 100px;
    background: red;
    width: 100vw;
    bottom: 5%;
}

.scr1.bottom-navbar-cont {
    position: relative;
}

.scr1.navbar-footer {
    position: absolute;
    left: 50vw;
    top: 50px;
    transform: translate(-50%, -50%);
}

.scr1.footer li {
    display: inline-block;
}

.sc1.mph-time {
    font-family: GothamMedium;
    font-size: 28px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
}

/* /////////////////////////////////////////////////////////////////////////// */

.sc1.speedometer svg {
    fill: white;
}


/* ---------- screen 2 ---------- */


.scr2.cont {
    width: 100vw;
    height: 100vh;
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
